[submodule "cubism"]
	path = cubism
	# url = git@github.com:guansss/CubismWebFramework.git
	# url = https://github.com/Rasan147/CubismWebFramework.git
	url = git@github.com/Rasan147/CubismWebFramework.git
